.banner{
  position: relative;
  @media all and (max-width: 768px){
    display: flex;
    flex-direction: column-reverse;
    padding-top: 4vh;
    align-items: center;
    height: 100vh;
  }
  @media all and (max-width: 500px){

  }
  .position1{
    .left{
      top: -140vw * $px;
      left: -265vw * $px;
    }
    .top{
      top: -346vw * $px;
      left: 466vw * $px;
    }
    .right{
      right: -343vw * $px;
      bottom: 173vw * $px;
    }
  }
  .position2{
    .left{
      left: -200vw * $px;
      top: 5vh;
    }
    .top{
      left: 35vw;
      top: -230vw * $px;
    }
    .right{
      right: 100px;
      bottom: 0;
    }
  }
  .position3{
    .left{
      left: -14vw;
      top: 62vh;
      width: 20vw;
    }
    .top{
      left: 300vw * $px;
      top: -100vw * $px;
      width: 20vw;
    }
    .right{
      right: -7vw;
      bottom: -20vh;
    }
  }
  .swiper-slide-2{

  }
  .swiper-slide-3{

  }
  &__image{
    position: absolute;
    //top: 106px;
    top: 49%;
    transform: translateY(-50%);
    right: -170vw * $px;
    border-radius: 50%;
    //overflow: hidden;
    @media all and (max-width: 1400px){
      width: 47vw;
      height: 47vw;
    }
    @media all and (max-width: 1024px){

    }
    @media all and (max-width: 768px){
      position: absolute;
      width: 100%;
      height: 40vh;
      flex: 1;
      top: 30vh;
      right: 0;
    }
    @media all and (max-width: 500px){

    }
  }
  &__block{
    //min-height: 324px;
    max-width: 50%;
    //padding-top: 20vh;
    @media all and (max-width: 1024px){
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: auto;
      max-width: none;
      width: 100%;
    }
  }
  &__logos{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 35vw * $px;
    @media all and (max-width: 500px){
      margin-top: 20px;
      margin-bottom: -20px;
    }
  }
  &__logo{
    width: calc(33.333% - 12px);
    margin-right: 12vw * $px;
    display: block;
    text-decoration: none;
    margin-bottom: 12vw * $px;
    background: #FFFFFF;
    box-shadow: 0px 4.72px 37.76px rgba(193, 219, 237, 0.15);
    border-radius: 5.9px;
  }
  &__mask{
    transition: 0.7s ease-in-out;
    -webkit-mask-image: url(../../img/banner/mask-new-1.png);
    mask-image: url(../../img/banner/mask-new-1.png);
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    width: 1190vw * $px;
    height: 1190vw * $px;
    position: relative;
    @media all and (max-width: 1400px){
      width: 100%;
      height: 100%;
    }
    @media all and (max-width: 1024px){

    }
    @media all and (max-width: 768px){
      -webkit-mask-position: center;
      mask-position: center;
      left: 0;
    }
    @media all and (max-width: 500px){
      left: 0;
    }
    img{
      position: absolute;
      transition: 0.7s ease-in-out;
      height: 100%;
      object-fit: cover;
      width: 100%;
      @media all and (max-width: 1400px){

      }
      @media all and (max-width: 1024px){

      }
      @media all and (max-width: 768px){

      }
      @media all and (max-width: 500px){

      }
    }
  }
  &__decoration{
    img{
      position: absolute;
      transition: 2s ease-in-out;
      width: auto;
      height: auto;
    }
    .left{
      top: -44vw * $px;
      left: -265vw * $px;
      width: 441vw * $px;
      height: auto;
    }
    .top{
      top: -346vw * $px;
      left: 466vw * $px;
      width: 523vw * $px;
      height: auto;
    }
    .right{
      right: -343vw * $px;
      bottom: 173vw * $px;
      width: 625vw * $px;
      height: auto;
    }
  }
  &__container{
    height: 100vh;
    @media all and (max-width: 768px){
      height: auto;
      flex: 1;
    }
  }
  &__content{
    height: 100%;
    @media all and (max-width: 768px){
      padding-top: 48vh;
    }
  }
  .swiper-container{
    height: 100%;
    overflow: visible;
  }
  &__wrapper{
    height: 100%;
  }
  &__slide{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    &.last-slide{
      .banner__block{
        padding-top: 0;
      }
    }
  }
  &__title{
    font-weight: 900;
    font-size: 60vw * $px;
    line-height: 101.9%;
    text-transform: uppercase;
    color: #213540;
    margin-bottom: 0;
    max-width: 100%;
    @media all and (max-width: 1400px){
      font-size: 46px;
    }
    @media all and (max-width: 1024px){
      font-size: 40px;
    }
    @media all and (max-width: 768px){
      font-size: 30px;
      max-width: none;
    }
    @media all and (max-width: 500px){
      font-size: 24px;
      br{
        display: none;
      }
    }
  }
  &__button{
    margin-top: 7vh;
    position: absolute;
    bottom: 15vh;
    //margin-top: 40px;
    @media all and (max-width: 1400px){
      min-width: 200px;
    }
    @media all and (max-width: 1024px){
      margin-top: 40px;
    }
    @media all and (max-width: 500px){
      width: 100%;
      margin-top: 6vh;
      margin-bottom: 14vh;
    }
  }
  .swiper-pagination{
    position: absolute;
    left: 0;
    bottom: 6vh;
    display: flex;
    @media all and (max-width: 1024px){
      bottom: 3vh;
    }
    @media all and (max-width: 768px){
      width: 100%;
      justify-content: center;
    }
    > div{
      margin-right: 22px;
      cursor: pointer;
    }
  }
  &__bottom{
    position: absolute;
    bottom: 8vh;
    left: 0;
    width: calc(100% - 200px);
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #6F8C9E;
    @media all and (max-width: 768px){
      display: none;
    }
  }
}