.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw * $px;
  height: 100vh;
  background: #FFFFFF;
  box-shadow: 0px 0px 173px rgba(191, 217, 235, 0.19);
  @media all and (max-width: 1400px){
    width: 200px;
  }
  @media all and (max-width: 1024px){
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 110px rgba(191, 217, 235, 0.19);
  }
  @media all and (max-width: 768px){
    padding-top: 7px;
    padding-bottom: 7px;
  }
  @media all and (max-width: 500px){

  }
  &__mobile{
    display: none;
    @media all and (max-width: 1024px){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-logo{
      max-width: 138px;
      height: auto;
    }
  }
  &__burger{
    display: none;
    cursor: pointer;
    @media all and (max-width: 1024px){
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      z-index: 1000;
    }
    &.active{
      span{
        &:first-child{
          transform: rotate(45deg) translateX(6px) translateY(6px);
          width: 24px;
        }
        &:nth-child(2){
          width: 0;
        }
        &:last-child{
          transform: rotate(-45deg) translateX(6px) translateY(-7px);
          width: 24px;
        }
      }
    }
    span{
      transition: $transition;
      display: block;
      width: 24px;
      height: 3px;
      background: #A0BCC8;
      border-radius: 2px;
      margin: 3px 0;
      &:first-child{
        width: 13px;
      }
      &:last-child{
        width: 19px;
      }
    }
    &:hover{
      span{
        width: 24px;
      }
    }
  }
  &__wrapper{
    @media all and (max-width: 1024px){
      display: none;
      padding: 7px 20px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #FFFFFF;
      box-shadow: 0px 0px 110px rgba(191, 217, 235, 0.19);
      text-align: center;
      z-index: 999;
      flex-direction: column;
    }
  }
  &__container{
    padding: 2vh 40vw * $px;
    @media all and (max-width: 1400px){
      padding: 2vh 40px;
    }
  }
  z-index: 50;
  &__branding{
    margin-bottom: 6vh;
  }
  &__language{
    padding-left: 0;
    margin-bottom: 10vh;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    @media all and (max-width: 1024px){
      padding-right: 0;
    }
    ul{
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li{
      margin-right: 10vw * $px;
      @media all and (max-width: 1400px){
        margin-right: 10px;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        font-weight: 400;
        font-size: 14vw * $px;
        line-height: 103.4%;
        color: #A0BCC8;
        text-decoration: none;
        text-transform: uppercase;
        @media all and (max-width: 1400px){
          font-size: 14px;
        }
      }
      &.active{
        a{
          font-weight: 700;
          color: #213540;
        }
      }
    }
  }
  #primary-menu{
    @media all and (max-width: 1024px){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    > .menu-item{
      padding-right: 40vw * $px;
      padding-left: 40vw * $px;
      @media all and (max-width: 1400px){
        padding-right: 40px;
        padding-left: 40px;
      }
      @media all and (max-width: 1024px){
        display: inline-block;
      }
      &:hover{
        .sub-menu{
          opacity: 1;
          pointer-events: all;
          visibility: visible;
        }
      }
    }
  }
  &__nav{
    @media all and (max-width: 1024px){
      flex: 1;
      overflow: scroll;
    }
    .menu-item{
      margin-bottom: 2vh;
      position: relative;
      &.menu-item-has-children{
        @media all and (max-width: 1024px){
          > a{
            position: relative;
            &:after{
              position: absolute;
              right: -20px;
              top: 5px;
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              border-top: 1px solid #EC1C24;
              border-right: 1px solid #EC1C24;
              transform: rotate(135deg);
            }
          }
          &.active{
            > a{
              &:after{
                transform: rotate(-45deg);
                top: 12px;
              }
            }
          }
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
      .sub-menu{
        opacity: 0;
        pointer-events: none;
        transition: $transition;
        position: absolute;
        left: 222vw * $px;
        top: -44vw * $px;
        background-color: white;
        padding: 44vw * $px 0;
        border: 1px solid rgba(191, 217, 235, 0.5);
        box-shadow: 0px 0px 47px rgba(191, 217, 235, 0.19);
        border-radius: 11vw * $px;
        visibility: hidden;
        @media all and (max-width: 1400px){
          left: 222px;
          top: -44px;
          padding: 44px 0;
          border-radius: 11px;
        }
        @media all and (max-width: 1024px){
          position: static;
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
          box-shadow: none;
          border: none;
          padding: 20px 0;
          display: none;
        }
        > .menu-item{
          padding-right: 40vw * $px;
          padding-left: 40vw * $px;
          margin-bottom: 30vw * $px;
          &:last-child{
            margin-bottom: 0;
          }
          @media all and (max-width: 1400px){
            padding-right: 40px;
            padding-left: 40px;
          }
          @media all and (max-width: 1024px){
            margin-bottom: 1vh;
            padding-right: 0;
            padding-left: 0;
            a{
              font-size: 16px;
              color: #EC1C24;
            }
          }
          a{
            white-space: nowrap;
          }
        }
        &:before{
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-top-width: 12vw * $px;
          border-bottom-width: 12vw * $px;
          border-right: 22vw * $px solid white;
          position: absolute;
          left: -22vw * $px;
          @media all and (max-width: 1400px){
            border-top-width: 12px;
            border-bottom-width: 12px;
            border-right: 22px solid white;
            left: -22px;
          }
        }
      }
      &.noclick{
        a{
          pointer-events: auto;
          cursor: pointer;
        }
      }
      a{
        font-weight: 600;
        font-size: 18vw * $px;
        line-height: 25vw * $px;
        letter-spacing: 0.04em;
        color: #213540;
        text-decoration: none;
        @media all and (max-width: 1400px){
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
  &__soc{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media all and (max-width: 1350px){
      padding-bottom: 80px;
    }
    a{
      margin: 0 7px;
      text-decoration: none;
    }
  }
}