.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background: #FFFFFF;
  box-shadow: 0px 0px 173px rgba(191, 217, 235, 0.19);
  @media all and (max-width: 1400px){

  }
  @media all and (max-width: 1024px){
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 110px rgba(191, 217, 235, 0.19);
  }
  @media all and (max-width: 768px){
    padding-top: 7px;
    padding-bottom: 7px;
  }
  @media all and (max-width: 500px){

  }
  &__mobile{
    display: none;
    @media all and (max-width: 1024px){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-logo{
      max-width: 138px;
      height: auto;
    }
  }
  &__burger{
    display: none;
    cursor: pointer;
    @media all and (max-width: 1024px){
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
    span{
      transition: $transition;
      display: block;
      width: 24px;
      height: 3px;
      background: #A0BCC8;
      border-radius: 2px;
      margin: 3px 0;
      &:first-child{
        width: 13px;
      }
      &:last-child{
        width: 19px;
      }
    }
    &:hover{
      span{
        width: 24px;
      }
    }
  }
  &__wrapper{
    @media all and (max-width: 1024px){
      display: none;
      padding: 7px 20px;
    }
  }
  &__container{
    padding: 2vh 40px;
  }
  z-index: 50;
  &__branding{
    margin-bottom: 6vh;
  }
  &__language{
    padding-left: 0;
    margin-bottom: 10vh;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
      a{
        font-weight: 400;
        font-size: 14px;
        line-height: 103.4%;
        color: #A0BCC8;
        text-decoration: none;
      }
      &.current-lang{
        a{
          font-weight: 700;
          color: #213540;
        }
      }
    }
  }
  #primary-menu{
    > .menu-item{
      padding-right: 40px;
      padding-left: 40px;
      &:hover{
        .sub-menu{
          opacity: 1;
          pointer-events: all;
          visibility: visible;
        }
      }
    }
  }
  &__nav{
    .menu-item{
      margin-bottom: 2vh;
      position: relative;
      &:last-child{
        margin-bottom: 0;
      }
      .sub-menu{
        opacity: 0;
        pointer-events: 0;
        transition: $transition;
        position: absolute;
        left: 222px;
        top: -44px;
        background-color: white;
        padding: 44px 0;
        border: 1px solid rgba(191, 217, 235, 0.5);
        box-shadow: 0px 0px 47px rgba(191, 217, 235, 0.19);
        border-radius: 11px;
        visibility: hidden;
        > .menu-item{
          padding-right: 40px;
          padding-left: 40px;
          a{
            white-space: nowrap;
          }
        }
        &:before{
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-top-width: 12px;
          border-bottom-width: 12px;
          border-right: 22px solid white;
          position: absolute;
          left: -22px;
        }
      }
      &.noclick{
        a{
          pointer-events: auto;
          cursor: pointer;
        }
      }
      a{
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.04em;
        color: #213540;
        text-decoration: none;
      }
    }
  }
  &__soc{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      margin: 0 7px;
      text-decoration: none;
    }
  }
}