.power{
  &__decoration{
    position: absolute;
    img{
      position: absolute;
    }
    &-left{
      top: -3vh;
      left: -364px;
    }
    &-right{
      top: 51vh;
      right: -425px;
    }
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    @media all and (max-width: 1024px){
      height: auto;
      padding-top: 120px;
      padding-bottom: 120px;
    }
    @media all and (max-width: 768px){
      padding-top: 90px;
      padding-bottom: 90px;
    }
    @media all and (max-width: 500px){
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  &__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    @media all and (max-width: 1400px){

    }
    @media all and (max-width: 1024px){
      flex-direction: column;
    }
    @media all and (max-width: 768px){
      margin-top: 0;
    }
    @media all and (max-width: 500px){
      flex-direction: column-reverse;
    }
  }
  &__title{
    width: 100%;
    color: #213540;
    @media all and (max-width: 768px){
      margin-bottom: 20px;
    }
    @media all and (max-width: 500px){

    }
  }
  &__nav{
    width: 248px;
    display: flex;
    flex-direction: column;
    @media all and (max-width: 1400px){

    }
    @media all and (max-width: 1024px){
      flex-direction: row;
      width: 100%;
    }
    @media all and (max-width: 1000px){
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media all and (max-width: 768px){

    }
    @media all and (max-width: 500px){

    }
    &-item{
      border: 1px solid #BFD9EB;
      box-shadow: 0px 0px 53px rgba(191, 217, 235, 0.35);
      border-radius: 5px;
      padding: 13px 31px;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.04em;
      color: #213540;
      margin-bottom: 47px;
      transition: $transition;
      position: relative;
      margin-right: 0;
      width: 100%;
      cursor: pointer;
      @media all and (max-width: 1400px){

      }
      @media all and (max-width: 1000px){
        width: calc(50% - 10px);
        margin-bottom: 20px;
      }
      @media all and (max-width: 768px){
        width: 100%;
      }
      @media all and (max-width: 500px){
        margin-bottom: 19px;
        font-size: 16px;
      }
      svg{
        position: absolute;
        right: 21px;
        top: calc(50% - 5px);
        opacity: 0;
        @media all and (max-width: 1024px){
          display: none;
        }
      }
      .arrow{
        display: inline-block;
        height: 1px;
        width: 0;
        background-color: #213540;
        border-radius: 2px;
        position: absolute;
        right: 21px;
        top: calc(50% - 1px);
        transition: $transition;
        @media all and (max-width: 1024px){
          display: none;
        }
      }
      &.active{
        background: #BFD9EB;
        margin-right: -45px;
        width: calc(100% + 45px);
        transition: $transition;
        @media all and (max-width: 1024px){
          width: calc(50% - 10px);
          margin-right: 0;
        }
        @media all and (max-width: 768px){
          width: 100%;
        }
        svg{
          opacity: 1;
        }
        .arrow{
          width: 24px;
        }
      }
      &:last-child{
        @media all and (min-width: 1024px){
          margin-bottom: 0;
        }
      }
    }
  }
  &__content{
    width: calc(100% - 442px);
    @media all and (max-width: 1400px){
      width: calc(100% - 340px);
    }
    @media all and (max-width: 1024px){
      width: 100%;
    }
    @media all and (max-width: 768px){
      p{
        font-weight: 400;
      }
    }
    @media all and (max-width: 500px){
      margin-bottom: 60px;
    }
    &-item{
      display: none;
      &.active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &__button{
    margin-top: 40px;
    @media all and (max-width: 500px){
      margin-top: 30px;
    }
  }
}