$px: 0.0520833333333333;
.select{
  position: relative;
  overflow: hidden;
  &__decoration{
    z-index: 3;
    position: absolute;
    left: calc(53% + 33px);
    top: 33vw * $px;
    width: 100%;
    height: calc(100vh - (66vw * $px));
    display: flex;
    mix-blend-mode: overlay;
    pointer-events: none;
    @media all and (max-width: 1400px){
      top: 33px;
      height: calc(100vh - 66px);
    }
    @media all and (max-width: 1024px){
      height: auto;
    }
    @media all and (max-width: 768px){

    }
    @media all and (max-width: 500px){

    }
    img{
      height: 100%;
      width: auto;
      mix-blend-mode: overlay;
    }
  }
  &__container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
    @media all and (max-width: 1204px){
      height: auto;
    }
    @media all and (max-width: 768px){
      flex-direction: column;
    }
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @media all and (max-width: 768px){
      position: static;
      height: 500px;
    }
    @media all and (max-width: 500px){
      height: 60vh;
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__left{
    width: 916vw * $px;
    padding-top: 115vw * $px;
    padding-bottom: 103vw * $px;
    position: relative;
    text-align: justify;
    @media all and (max-width: 1400px){
      padding-top: 9vh;
      padding-bottom: 9vh;
      width: 53%;
      text-align: left;
    }
    @media all and (max-width: 1024px){

    }
    @media all and (max-width: 768px){
      width: 100%;
    }
    @media all and (max-width: 500px){
      padding-top: 58px;
      padding-bottom: 66px;
    }
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #213540;
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      left: 0;
    }
    h2, p{
      z-index: 2;
      position: relative;
      color: white;
    }
    p{
      font-weight: 200;
    }
  }
  &__title{

  }
  &__button{
    z-index: 2;
    @media all and (max-width: 500px){
      width: 100%;
    }
  }
  &__content{
    margin-bottom: 35vw * $px;
    @media all and (max-width: 1400px){
      margin-bottom: 35px;
    }
  }
  &__video{
    position: absolute;
    top: calc(50% - 80px);
    left: calc(53% + 196px);
    cursor: pointer;
    transition: $transition;
    @media all and (max-width: 1024px){

    }
    @media all and (max-width: 768px){
      z-index: 1;
      flex: 1;
      display: flex;
      align-items: center;
      top: calc(250px - 80px);
      left: calc(50% - 80px);
    }
    @media all and (max-width: 500px){
      height: 60vh;
      top: 0;
      left: calc(50% - 80px);
    }

    &:hover{
      transform: scale(1.2);
    }
  }
}