@import "normalize";
@import "aos";
@import "preloader";
@import "fresco";
@import "swiper-bundle";
@import "swiper-gl";
//@import "selectric";
@import "default";
$transition: 0.2s;
$px: 0.0520833333333333;
// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
html{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  @media all and (max-width: 1400px){
    font-size: 90%;
  }
  @media all and (max-width: 1024px){
    font-size: 80%;
  }
  @media all and (max-width: 768px){

  }
  @media all and (max-width: 500px){

  }
}
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  @media all and (max-width: 768px){
    height: auto;
  }
}
.to-up{
  display: none!important;
}
.locked{
  overflow: hidden;
}
img{
  max-width: 100%;
}
main{
  flex: 1;
}
.padding-right{
  padding-right: 136vw * $px;
  @media all and (max-width: 1400px){
    padding-right: 75px;
  }
  @media all and (max-width: 1024px){
    padding-right: 50px;
  }
  @media all and (max-width: 768px){
    padding-right: 35px;
  }
  @media all and (max-width: 500px){
    padding-right: 20px;
  }
}
.padding-left{
  padding-left: 136vw * $px;
  @media all and (max-width: 1400px){
    padding-left: 75px;
  }
  @media all and (max-width: 1024px){
    padding-left: 50px;
  }
  @media all and (max-width: 768px){
    padding-left: 35px;
  }
  @media all and (max-width: 500px){
    padding-left: 20px;
  }
}
.main-container{
  max-width: 1920vw * $px;
  margin: auto;
  width: 100%;
  @extend .padding-left;
  @extend .padding-right;
}
.vertical-center{
  display: flex;
  align-items: center;
}
.middle-container{
  max-width: 1700vw * $px;
  margin: auto;
  @extend .padding-left;
  @extend .padding-right;
}
.small-container{
  max-width: 1475vw * $px;
  margin: auto;
  @extend .padding-left;
  @extend .padding-right;
}
.button, .wpcf7-submit{
  cursor: pointer;
  min-width: 300vw * $px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #EC1C24;
  border-radius: 5px;
  padding: 12vw * $px;
  text-decoration: none;
  position: relative;
  transition: $transition;
  font-weight: 600;
  font-size: 16vw * $px;
  line-height: 22vw * $px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  @media all and (max-width: 1720px){

  }
  @media all and (max-width: 1400px){
    min-width: 300px;
    padding: 12px;
    font-size: 16px;
    line-height: 22px;
  }
  @media all and (max-width: 1024px){

  }
  @media all and (max-width: 768px){
    padding: 14px;
  }
  @media all and (max-width: 500px){
    width: 100%;
  }
  &:hover{
    background-color: #C1272D;
  }
  &:before{
    position: absolute;
    bottom: -1px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    content: "";
    display: block;
    background: #EC1C24;
    filter: blur(13px);
    border-radius: 5px;
    z-index: -1;
  }
  span{
    font-weight: 600;
    font-size: 16vw * $px;
    line-height: 22vw * $px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media all and (max-width: 1400px){
      font-size: 16px;
      line-height: 22px;
    }
  }
}
.height-section{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  @media all and (max-width: 1024px){
    height: auto;
  }
}
.page-title{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 60vw * $px;
  line-height: 101.9%;
  text-transform: uppercase;
  color: #213540;
  @media all and (max-width: 1400px){
    font-size: 50px;
  }
  @media all and (max-width: 1024px){
    font-size: 40px;
  }
  @media all and (max-width: 768px){
    font-size: 35px;
  }
  @media all and (max-width: 500px){
    font-size: 30px;
  }
}
.section-title{
  font-weight: 800;
  font-size: 48vw * $px;
  line-height: 107%;
  text-transform: uppercase;
  color: #213540;
  margin-bottom: 30vw * $px;
  @media all and (max-width: 1400px){
    font-size: 40px;
    margin-bottom: 30px;
  }
  @media all and (max-width: 1024px){
    font-size: 36px;
  }
  @media all and (max-width: 768px){
    font-size: 28px;
  }
  @media all and (max-width: 500px){
    font-weight: 900;
    font-size: 24px;
  }
}
.post-title{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 40vw * $px;
  line-height: 101.9%;
  color: #213540;
  @media all and (max-width: 1400px){
    font-size: 36px;
  }
  @media all and (max-width: 1024px){
    font-size: 32px;
  }
  @media all and (max-width: 768px){
    font-size: 28px;
  }
  @media all and (max-width: 500px){
    font-weight: 900;
    font-size: 24px;
  }
}
.section-subtitle{
  font-weight: 400;
  font-size: 16vw * $px;
  line-height: 159%;
  color: #000000;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30vw * $px;
  max-width: 776vw * $px;
  @media all and (max-width: 1400px){
    font-size: 16px;
    max-width: 776px;
    margin-bottom: 30px;
  }
  @media all and (max-width: 1024px){
    font-size: 15px;
  }
  @media all and (max-width: 500px){
    font-size: 14px;
  }
}
.modal-rev{
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  .reviews__slide-more, .reviews__slide:after{
    display: none;
  }
  .reviews__slide-excerpt{
    display: none;
  }
  .reviews__slide-full{
    display: block;
  }
  .reviews__slide-header{
    @media all and (max-width: 500px){
      flex-direction: column;
    }
  }
  .reviews__slide-name{
    @media all and (max-width: 500px){
      text-align: center;
    }
  }
  .reviews__slide{
    min-width: 600px;
    cursor: auto!important;
    &:hover{
      border: 2px solid transparent!important;
    }
    @media all and (max-width: 768px){
      min-width: auto;
      padding: 60px 36px 36px 36px;
      width: auto;
      max-width: calc(100vw - 80px);
      margin-right: 0!important;
    }
  }
  &__container{
    max-width: calc(100vw - 40px);
    width: auto;
    height: auto;
    padding: 40vw * $px;
    border-radius: 18px;
    position: relative;
    @media all and (max-width: 1400px){
      padding: 40px;
    }
    @media all and (max-width: 768px){
      padding: 0;
    }
  }
  &__close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
  }
  .reviews__slide{
    max-height: none!important;
  }
}
@import "templates/onepage-scroll";
@import "templates/header";
@import "templates/preloader";
@import "templates/banner";
@import "templates/select";
@import "templates/power";
@import "templates/programs";
@import "templates/person";
@import "templates/team";
@import "templates/reviews";
@import "templates/legend-page";
@import "templates/page-clients";
@import "templates/page-sila";
@import "templates/page-podcasts";
@import "templates/pagination";
@import "templates/page-videos";
@import "templates/page-blog";
@import "templates/single-blog";
@import "templates/book-page";
@import "templates/publications-page";
@import "templates/programs-page";

@import "templates/main";

@import "templates/footer";